@import "tailwindcss";

@layer components {
  .input-container {
    @apply flex justify-between items-center gap-4;
  }
  .main-input {
    @apply  bg-white border-1 border-gray-400 rounded-[6px] h-[34px] px-4 focus:ring-2 focus:ring-inset focus:ring-blue-400 outline-none;
  }
}
